body, .stui-content{
	background: #282828;
}
.head_block{
	background: #181818;
}

.stui-vodlist__detail .title a, a, .data>a{
	color: #fff;
}
.clearfix.tab-title, .row.mo-tab_title>ul, #source_block{
	border-radius: 10px;
}
#comment_block, #hits_block{
	border-radius: 10px;
	margin-top: 15px;
}
.name, .digg_num.icon-num, .fas.fa-thumbs-up, .fas.fa-thumbs-down, h4>a, p.text.text-overflow.text-muted.hidden-xs {
	color: #404040 !important;
}
.clearfix.tab-title>li>a {
	color: #404040;
}
.text, .stui-header__menu li a, .clearfix.menu_shift.checkcatebox.label_area.label_height>li>a>span, .stui-vodlist__detail>.text.text-overflow.text-muted.hidden-xs, .text-center.hidden-xs, h4.name{
    color: #b3b3b3 !important;
}
label, input, .title>small, .title>span, #form1 ul li.pad, .comment-box, #comMsg, #screenbox>ul>li>a, .stui-page__item.text-center.clearfix>li>a, .pop_content_title{
	color: #fff;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #b3b3b3;
	opacity: 1; /* Firefox */
}
.edit_btn.btn{
	background-color: #282828 !important;
}
.dropdown.history, .stui-foot, #hits_block, .pop_content{
	background: #404040;
}
.stui-content__detail, h1, .text-muted, .cate-option, .title.text-overflow>a, .dropdown.history a, .reader-infinite-preloader{
	color: #fff !important;
}
p.title.text-overflow>a, .item-link{
	color: #404040 !important;
}
.mo-tab_title li.active{
	border-bottom: none !important;
}
.sign-main, .chapter-btn.current{
	background: #b3b3b3;
}
.ifpopup_div{
	background: rgba(0,0,0,0.8) !important;
}
.ifpopup_content{
	background: #eee !important;
}
.fr.mr10.mt10.verify_img{
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 6px;
}

.view-main article section.reader-cartoon-chapter div {
	color: azure;
}

/*
*琛ㄥ崟绫籠杈撳叆妗哱radio\checkbox
**/
.aui-input,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
textarea {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2.2rem;
    line-height: normal;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
            user-select: text;
    -webkit-appearance: none;
            appearance: none;
}